<section class="header">
  <div class="logo">
    <h1>LOUER VOTRE VOITURE</h1>
    <h2>à des prix diaboliques</h2>
  </div>
</section>
<section class="list-cars">
  <div class="container">
    <div class="cards">
      <% @cars.each do |car| %>
        <%= link_to car_path(car), class:"card" do %>
          <div class="card_image">
            <%= image_tag("porsche.webp") %>
          </div>
          <div class="card-content">
            <p><%= car.model %></p>
            <p><%= car.brand %></p>
            <p><%= car.color %></p>
            <p><%= car.year %></p>
            <p><%= car.km %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</section>
